# Generated XML documentation
/xml-doc/
!/xml-doc/README.md

# RAD Studio History Manager data
__history/

# RAD Studio AutoRecover data
__recovery/

# RAD Studio user-specific project options
*.dproj.local

# RAD Studio refactoring information
*.identcache

# RAD Studio build output folder
/Win32/Debug/

# Buildable RAD Studio resource file
/ProtocGenDelphiRuntimeExample.res
